@use "../00-settings/" as config;
@use "sass:map";

.o-container {
	padding:map.get(config.$tokens-scales, "spacing", "700") map.get(config.$tokens-scales, "spacing", "300");
}

.o-content-container {

}

.o-max-width-container {
	max-width:1440px;
	margin:0 auto;
}