@use "../00-settings" as config;

body {
	font-family: config.$alias-fontstack-primary;
	color:config.$alias-text-color-default;
	line-height:1.5;
}

a {
	color:config.$alias-text-color-link;
	text-decoration:none;

	&:hover {
		color:config.$alias-text-color-link-hover;
		text-decoration:underline;
	}
}