{%- from "components/component.logo.njk" import Logo with context -%}
{%- from "components/component.link.njk" import Link with context -%}
{%- from "components/component.button.njk" import Button with context -%}

<!DOCTYPE html>
<html lang="{{PAGE.lang or META.lang}}">
  <head>
    <meta charset="utf-8">

    <!-- IE compatibility -->
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ PAGE.title or META.title}}</title>
    <meta name='description' content='{{ PAGE.description }}'>

    {% block pageStyles %}
    <link rel="stylesheet" type="text/css" href="css/main.css">
    {% endblock %}  
  </head>

  <body>
    {% include "fragments/fragment.header.njk" %}
    <main class="o-main-container" role="main">
    {% block body %}{% endblock %}
    </main>
    {% include "fragments/fragment.footer.njk" %}
  </body>

</html>
