<footer class="c-global-footer">
	<p class="c-logo c-logo--footer">thatguybardia.ca</p>
	<ul>
		<li>{{ Link({to:"/case-studys", label:"Case Studies"}) }}</li>
		<li>{{ Link({to:"/projects", label:"Projects"}) }}</li>
		<li>{{ Link({to:"about.html", label:"About"}) }}</li>
		<li>{{ Link({to:"contact.html", label:"Contact"}) }}</li>						
	</ul>
	<p>This website was made with <span class="u-font-color-violet-500">love</span> and coded by hand in HTML, CSS (using SASS) and vanilla script. {{ Link({to:"/builtwith.html"})}}</p>


	<p class="c-copyright-notice">&copy; <span class="js-current-year"></span> thatguybardia.ca</p>
</footer>