{% set _featuredItem = data.CONTENT.featured_case_study %}
<div class="o-container-full-width u-bg-baby-teal-500">
  <div class="o-container">
    <section class="c-featured-casestudy-block">
      <h2 class="c-squiggle-header u-text-color-ocean-blue-700 u-font-size-800">{{_featuredItem.title}}</h2>
      <img class="c-shadowed-image" alt="{{_featuredItem.img.alt}}" src="img/{{_featuredItem.img.src}}">
      <p class="c-featured-casestudy-block__dek u-margin-b-700">{{_featuredItem.dek}}</p>
      <div class="c-featured-casestudy-block__actions u-margin-t-400">
        {{ Button({to: "/projects/" + _featuredItem.url, label:"See the details"}) }}
        {{ Link({to: "/projects/", label:"See more case studies", classes:"u-margin-t-300 u-text-color-ocean-blue-900"}) }}
      </div>
    </section>
  </div>
</div>