---
PAGE:
 title: Home page title
 description: Home page description 
---

{% extends "layouts/layout.inner-page.njk" %}

{% block main %}
    this is the about page, using the inner page template
    <a href="/">Go home</a>
{% endblock %}
