---
PAGE:
 title: Contact Page
 description: Contact description
 layout: layout.inner-page.njk
---
{% extends "layouts/" + PAGE.layout %}

{% block main %}
contact.html
<a href="/">Go home</a>
{% endblock %}
