@use "../00-settings" as config;
@use "../01-tools/helpers" as util;

@use "sass:map";
$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

//Generate font weight utility classes
@each $weight in $weights {
	.u-font-weight-#{$weight} {
		font-weight: $weight;
	}
}

//Generate font size and line height utility classes
@each $size, $value in config.$tokens-static-fontscale {
	.u-font-size-#{$size} {
		font-size: $value;
	}

	.u-line-height-#{$size} {
		line-height: $value;
	}	
}

//Generate text color utility classes
@each $colorset, $set in config.$tokens-colorsets {
	@each $step, $value in $set {
		.u-font-color-#{$colorset}-#{$step} {
			color:$value;
		}
	}
}