{% extends "_base.njk" %}

{# load custom layout css here, don't forget to call {{ super() }} to load main css file #}
{% block pageStyles %}
  {{ super() }}
{% endblock %}

{% block body %}
  <header>Case Study Page Header</header>

  <main role='main'>
    {% block main %}{% endblock %}
  </main>

  <footer>Case Study Page footer</footer>
{% endblock %}
