@use "sass:map";

@use "tokens.colorsets" as *;
@use "tokens.scales" as *;

/* Text Colors */
$color-text-primary: 			map.get($colorsets, "reference", "white");
$color-text-primary-hover:		map.get($colorsets, "grey", "200");

$color-text-secondary:			map.get($colorsets, "ocean-blue", "500");
$color-text-secondary-hover:	map.get($colorsets, "ocean-blue", "900");

$color-text-tertiary:			map.get($colorsets, "ocean-blue", "500");
$color-text-tertiary-hover:		map.get($colorsets, "ocean-blue", "900");


/* Border colors */
$color-border-focus:			map.get($colorsets, "ocean-blue", "200" );

$color-border-primary:			map.get($colorsets, "ocean-blue", "500" );
$color-border-primary-hover:	map.get($colorsets, "ocean-blue", "600" );

$color-border-secondary:		map.get($colorsets, "ocean-blue", "500" );
$color-border-secondary-hover:	map.get($colorsets, "ocean-blue", "900" );

$color-border-tertiary:			map.get($colorsets, "grey", "100" );
$color-border-tertiary-hover:	map.get($colorsets, "grey", "200" );


/* Background colors */
$color-background-default: 			map.get($colorsets, grey, "100");

$color-background-hero:    			map.get($colorsets, "midnight-blue", "500");
$color-background-header:  			map.get($colorsets, "midnight-blue", "700" );

$color-background-primary:			map.get($colorsets, "ocean-blue", "500" );
$color-background-primary-hover:	map.get($colorsets, "ocean-blue", "600" );

$color-background-secondary:		map.get($colorsets, "ocean-blue", "100" );
$color-background-secondary-hover:	map.get($colorsets, "ocean-blue", "200" );

$color-background-tertiary:			map.get($colorsets, "grey", "100" );
$color-background-tertiary-hover:	map.get($colorsets, "grey", "200" );


