/* Colour Tokens */
$global-color-baby-teal-900: #122B1F;
$global-color-baby-teal-800: #24573F;
$global-color-baby-teal-700: #35825E;
$global-color-baby-teal-600: #47AE7E;
$global-color-baby-teal-500: #59D99D;
$global-color-baby-teal-400: #7AE1B1;
$global-color-baby-teal-300: #9BE8C4;
$global-color-baby-teal-200: #BDF0D8;
$global-color-baby-teal-100: #DEF7EB;

$global-color-ocean-blue-900: #040A1C;
$global-color-ocean-blue-800: #091538;
$global-color-ocean-blue-700: #0D1F54;
$global-color-ocean-blue-600: #122A70;
$global-color-ocean-blue-500: #16348C;
$global-color-ocean-blue-400: #455DA3;
$global-color-ocean-blue-300: #7385BA;
$global-color-ocean-blue-200: #A2AED1;
$global-color-ocean-blue-100: #D0D6E8;

$global-color-tangerine-900: #331603;
$global-color-tangerine-800: #662C05;
$global-color-tangerine-700: #994208;
$global-color-tangerine-600: #CC580A;
$global-color-tangerine-500: #FF6E0D;
$global-color-tangerine-400: #FF8B3D;
$global-color-tangerine-300: #FFA86E;
$global-color-tangerine-200: #FFC59E;
$global-color-tangerine-100: #FFE2CF;

$global-color-violet-900: #27041C;
$global-color-violet-800: #4F0837;
$global-color-violet-700: #760B53;
$global-color-violet-600: #9E0F6E;
$global-color-violet-500: #C5138A;
$global-color-violet-400: #D142A1;
$global-color-violet-300: #DC71B9;
$global-color-violet-200: #E8A1D0;
$global-color-violet-100: #F3D0E8;

$global-color-midnight-blue-900: #01040D;
$global-color-midnight-blue-800: #03081A;
$global-color-midnight-blue-700: #040D26;
$global-color-midnight-blue-600: #061133;
$global-color-midnight-blue-500: #071540;
$global-color-midnight-blue-400: #394466;
$global-color-midnight-blue-300: #6A738C;
$global-color-midnight-blue-200: #9CA1B3;
$global-color-midnight-blue-100: #CDD0D9;

$global-color-grey-900: #1B1F2B;
$global-color-grey-800: #353842;
$global-color-grey-700: #4E515A;
$global-color-grey-600: #676A71;
$global-color-grey-500: #818389;
$global-color-grey-400: #9A9BA1;
$global-color-grey-300: #B3B4B8;
$global-color-grey-200: #CCCDD0;
$global-color-grey-100: #F7F7F7;

$global-color-black: #000000;
$global-color-white: #FFFFFF;

