@use "../00-settings/" as config;
@use "sass:map";

.c-global-header {
	display:flex;
	padding:map.get(config.$tokens-scales, "spacing", "100") map.get(config.$tokens-scales, "spacing", "300");
	align-items:center;
	justify-content:space-between;
	flex:0;

	background:config.$alias-color-background-darkest;
	color:config.$alias-color-text-lightest;

	.c-button {
		height:44px;
	}
}