@use "../00-settings/" as config;
@use "sass:map";

.c-hero-greeting {
	color: map.get(config.$tokens-colorsets, "reference", "white");

	p {
		font-size:map.get(config.$tokens-scales, "type", "600");
		line-height:map.get(config.$tokens-scales, "type", "800");
	}

	.c-hero-greeting__cta-label {
		font-size:1rem;
		text-align:center;
		margin-bottom:0;
	}	
}