---
PAGE:
 title: Home page title
 description: Home page description
 layout: layout.landing.njk
---
{% extends "layouts/" + PAGE.layout %}

{% block main %}
    <div class="o-container u-bg-color-midnight-blue-700">
        <div class="o-restricted-container">
            <p>👋 I'm Bardia.</p>
            <p>I'm a user experience and graphic designer based in Toronto, Ontario. I'm a major video game and retro computer nerd and I'm passionate about making high quality, accessible digital products and experiences.</p>
        </div>
    </div>
{% endblock %}
