---
PAGE:
 title: Home page title
 description: Home page description
 layout: layout.landing.njk
---
{% extends "layouts/" + PAGE.layout %}

{% block main %}
    <div class="o-container u-bg-color-midnight-blue-500 u-padding-t-700">
        <div class="o-max-width-container">
            <section class="c-hero-greeting">
                <p>👋 I'm Bardia.</p>
                <p>I'm a <span class="u-font-color-baby-teal-500 u-font-weight-600">user experience and graphic designer</span> based in Toronto, Ontario. I'm a major video game and retro computer nerd and I'm passionate about making <span class="u-font-color-tangerine-500 u-font-weight-600">high quality, accessible digital products</span> and experiences.</p>
                
                <div class="c-hero-greeting__cta">
                    <p class="c-hero-greeting__cta-label">Scroll down to view my work</p>
                    <div class="c-hero-greeting__cta-icon"></div>
                </div>
                
            </section>            
        </div>
    </div>

    <div class="o-container u-bg-color-baby-teal-500 u-font-color-ocean-blue-700">
        <div class="o-max-width-container">
            <h2 class="c-fancy-heading">Featured Project</h2>
            <h3 class="u-font-color-reference-black">CPA Canada Design System</h3>
            <p class="u-font-color-reference-black">I led the creation of a comprehensive design system used across digital channels for the Chartered Professional Accountants of Canada.</p>
            <img class="o-fluid-img" src="https://picsum.photos/id/1042/805/515"/>
        </div>
    </div>    
{% endblock %}
